@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAFA;
  --foreground: #111111;
  --link: #00BFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.8;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
